global:
  scrape_interval: 30s
  evaluation_interval: 30s

scrape_configs:
  - job_name: "fifa25-bot"
    metrics_path: /metrics
    scheme: https
    static_configs:
      - targets:
          - fifa25-bot-i1zf.onrender.com
